{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottles for Change</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    
</head>
<body>
    <header>
        <h1>Bottles for Change</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="{% url 'request_pickup' %}">Request a Pickup</a>|
            <a href="{% url 'reports' %}">Reports</a>|
            <a href="/admin">Admin</a>
        </nav>
    <header>
    <div>
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>
